body {
    background-image: url(../images/blog.jpg);
    background-size: 100%;
    /* background-attachment: fixed; */
    /* font-family: 'Oswald', sans-serif; */



/* h1 {
    font-family: cursive;
    text-align: center;
    color: black;
    background-color: turquoise;
} */
    