body {
    background-image: url(../images/blog.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;}



h1 {
    /* font-family: cursive; */
    text-align: center;
    color: black;
    background-color: turquoise;

}

h2 {
    color: white;
    background-color: black;
}

h3 {
    color: white;
    
}

ul li {
    background-size: 40%;
    background-color: black;
}

a {
    color: turquoise;
    background-size: 40%;
}
    
body.milkyway {
    background-image: url(../images/milkyway.jpg);
    background-size: 100%;
    background-attachment: fixed;
    /* background-position: top left; */
    padding-bottom: 1000px;
}

p {
    width: 55%;
    color: white;
    justify-content: space-evenly;
}